<?xml version="1.0" encoding="utf-8" ?>
<routes>
  <route url="/admin/" module="Episode" action="index" />
  <route url="/admin/episode-insert\.html" module="Episode" action="insert" />
  <route url="/admin/episode-update-([0-9]+)\.html" module="Episode" action="update" vars="id" />
  <route url="/admin/episode-delete-([0-9]+)\.html" module="Episode" action="delete" vars="id" />
  <route url="/admin/comment-update-([0-9]+)\.html" module="Episode" action="updateComment" vars="id" />
  <route url="/admin/comment-delete-([0-9]+)\.html" module="Episode" action="deleteComment" vars="id" />
</routes>