<?xml version="1.0" encoding="utf-8" ?>

<routes>
    <!--              FRONTEND            -->

    <!-- ******* ### Principal Page ### ******** -->

    <!--HOME PAGE -->
    <route url="/" module="Episode" action="index" />
        
    <!--ABOUT-->
    <route url="/aPropos.html" module="Episode" action="about" />

     
    <!-- ******* ### Episode ### ******** -->
    <!-- Page for ONE Episode -->
    <route url="/episode-([0-9]+)\.html" module="Episode" action="show" vars="id"/><!-- OK -->
    <!-- Page for ALL Episode -->
    <route url="/episode/tous-les-episodes-publier.html" module="Episode" action="all" /><!-- OK -->
    <!-- Page for the last 5 Episode-->
    <route url="/episode/les-cinq-derniers-episodes.html" module="Episode" action="last" /><!-- OK -->


    <!-- ******* ### MODULE Users ### ******** -->
    <!--REGISTER-->
    <route url="/user/register.php" module="Users" action="register"  />


    <!-- ******* ### COMMENTS ### ******** -->
    <!--VOIR POURS SUPPRIMER CETTE PAGE-->
        <!-- ACTION => Insert || MODULE => Comments-->
    <route url="/commentaire/insert-commentaire\.html" module="Commentaire" action="insert" vars="episodeId" />

      
</routes>