<?xml version="1.0" encoding="utf-8" ?>

<routes>
    <!--              FRONTEND            -->

    <!-- ******* ### Principal Page ### ******** -->

    <!--HOME PAGE -->
    <route url="/" module="Episode" action="index" /><!-- OK -->
        
    <!--ABOUT-->
    <route url="/a-propos.html" module="Episode" action="about" /><!-- OK -->

     
    <!-- ******* ### Episode ### ******** -->
    <!-- Page for ONE Episode -->
    <route url="/episode/episode-([0-9]+)\.html" module="Episode" action="show" vars="id"/><!-- OK -->
    <!-- Page for ALL Episode -->
    <route url="/episode/all.html" module="Episode" action="all" />
    <!-- Page for the last 5 Episode-->
    <route url="/episode/last.html" module="Episode" action="last" />


    <!-- ******* ### MODULE COMMENTS ### ******** -->

        <!-- ACTION => Insert || MODULE => Comments-->
    <route url="/commentaire/insert-commentaire-([0-9]+)\.html" module="Commentaire" action="insert" vars="id" />

        <!-- ACTION => Flag || MODULE => Comments-->
    <route url="/commentaire/flag-comment-([0-9]+)\.html" module="Commentaire" action="flag" vars="id" />  

</routes>